<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Source+Code+Pro" rel="stylesheet">
  {{{style}}}
  <script src="remark.min.js"></script>
  <script>
    function create() {
      return remark.create({
        {{{source}}},
        ratio: '4:3',
        highlightLines: true,
        countIncrementalSlides: false,
        highlightStyle: 'github'
      });
    }
  </script>
</head>
<body onload="slideshow = create()">
</body>
</html>
