###############################################
# BACKSLIDE STUFF
###############################################

.tmp

###############################################
# MISC STUFF
###############################################

*~

###############################################
# VS Code
###############################################

.vscode/
